.accountIconContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "RooneySans-Medium", "Lucida Grande", "Lucida Sans Unicode",
    "Trebuchet MS", sans-serif;
}