.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
  box-shadow: 1px 2px 3px black;
  border-radius: 2px;
}
.titles {
  margin: 10px 0 10px 5px;
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
